.Brand {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 31%, rgba(211, 204, 204, 1) 100%);
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 500vh;
    height: 100%;
    width: 100%;
}

.Collage-style {
    position: absolute;
    top: 18vh;
    left: 0px;
    object-fit: fill; 
    width: 80vw;
}
