.Company-image {
    margin-left: 0px;
    padding-left: 0px;
    object-fit: fill; 
    height: 6vmin;
    width: 6vmin;
    border-radius: 6%;
    z-index: 0;
}

.Company-li {
    margin-top: -6vmin !important;
    height: 6vmin !important;
    width: 6vmin !important;
    border-radius: 6% !important;
    z-index: 1;
}
