.Work-experience-cell {
    display: flex;
    flex-direction: row;
    border: 0.25vh solid darkgrey;
    height: 11.5vh;
}

.Work-experience-cell-info {
    height: 12vh;
    width: 25vw;
    margin: 0vmin 2vmin 0vmin 3vmin;
    position: relative;
    top: 0;
    margin-left: 1vw;
    text-align: left;
}

.Work-experience-bullet-points {
    height: 12vh;
    width: 55vw;
    justify-content: left;
}

.Logo-city-timeframe {
    display: flex;
    flex-direction: row;
}

.City-timeframe {
    display: flex;
    flex-direction: column;
}

.Company-image {
    position: relative;
    top: -0.5vmin;
    left: -0.5vmin;
    object-fit: contain; 
    text-align: center;
    justify-content: center;
    background-color: white;
    height: 5vmin;
    width: 5vmin;
}

.Company-button {
    position: relative;
    top: 0.5vmin;
    border: 0.5vmin gainsboro solid;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 5vmin;
    width: 5vmin;
}
