.Education {
    background: rgb(216, 245, 253);
    background: linear-gradient(0deg, rgba(216, 245, 253,1) 31%, rgba(237,230,255,1) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 300vh;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.Education-info {
    margin: 0px 12vw 0px 12vw;
    display: flex;
    flex-direction: row;
    border: 0.6vmin solid white;
    position: relative;
    height: 100%;
    top: 0px;
    bottom: 0px;
}