.Education {
    background: rgb(216, 245, 253);
    background: linear-gradient(0deg, rgba(216, 245, 253,1) 31%, rgba(237,230,255,1) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 300vh;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
}

.Education-info {
    margin: 0px 10vw 0px 10vw;
    display: flex;
    flex-direction: row;
    border: 0.6vmin solid darkgrey;
    position: relative;
    height: 76vh;
    padding: 0px 0px 0px 0px;
    top: 0px;
    bottom: 0px;
}

.Education-image-timeframe {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0vmin 2vmin 0vmin 3vmin;
    height: 65vh;
    width: 35vw;
}

.Education-bullet-points {
    display: flex;
    flex-direction: column;
    height: 65vh;
    position: relative;
    width: 50vw;
    text-align: center;
    justify-content: left;
}

.Education-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain; 
    text-align: center;
    justify-content: center;
    background-color: white;
    border-radius: 5%;
    height: 50vh;
    width: 50vh;
    border: 0.4vmin solid white;
}
@media (min-height: 295px) {
    .Education-image {
        height: 40vh;
        width: 40vh;
    }
}
@media (min-height: 400px) {
    .Education-image {
        height: 28vh;
        width: 28vh;
    }
}
@media (min-height: 450px) {
    .Education-image {
        height: 22vh;
        width: 22vh;
    }
}
@media (min-height: 700px) {
    .Education-image {
        height: 18vh;
        width: 18vh;
    }
}
