.About-me {
    text-align: center;
    position: relative;
    width: 25vw;
    height: 100%;
    margin: 0px 15px 0ppx 10px;
}

.About-me-container {
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 2vmin 2vmin 2vmin 2vmin;
    border: 0.6vmin solid darkgrey;
    border-radius: 1%;
    height: 60vh;
}

.About-me-text {
    /* redo this margin and height stuff */
    text-align: left;
    border-radius: 1%;
    margin-left: 0.6vmin;
}

