.About-me {
    text-align: center;
    width: 35%;
    height: 100%;
    margin: 0px 15px 0ppx 10px;
}

.About-me-container {
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 2.5vh max(10px, 3vmin) 0px max(10px, 3vmin);
    border: 0.6vmin solid white;
    border-radius: 5%;
    height: 48vh;
}

.About-me-text {
    /* redo this margin and height stuff */
    text-align: left;
    border-radius: 5%;
    margin-left: 0.6vmin;
}

