.Social-image {
    object-fit: fill;
    height: 4.4vmin;
    width: 4.4vmin;
    border-radius: 7%;
    z-index: 0;
}

.Social-li {
    border-radius: 7% !important;
    margin-left: -4.4vmin !important;
    height: 4.4vmin !important;
    width: 4.4vmin !important;
    z-index: 1;
}
