.Information {
    text-align: center;
    width: 25vw;
    margin-bottom: 0px;
    margin-right: 0px;
}

.Scrollable-information {
    /* figure out margin and height */
    text-align: left;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 2vmin 2vmin 2vmin 2vmin;
    border: 0.6vmin solid darkgrey;
    border-radius: 5%;
    height: 60vh;
    align-items: center;
}

.Scrollable-cells {
    width: 100%;
    overflow-x: auto;
}

.button {
    background-color: white;
    border: 0.3vmin gainsboro solid;
    padding: 0px 0px 0px 0px;
    margin: 4px 5px 0px 5px;
    height: 5vmin;
    width: 5vmin;
}

.Single-information-cell {
    display: flex;
    flex-direction: row;
    margin-left: 0.6vmin;
}


