.Home-page {
    background: rgb(244,240,226);
    background: linear-gradient(0deg, rgba(244,240,226,1) 31%, rgba(231,255,221,1) 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    height: 100%;
    width: 100%;
}

.Home-page-text {
    font-size: 5vw;
    margin: 10vh 20vw 0px 0px;
    z-index: 2;
}

.Bg-image {
    position: absolute;
    object-fit: contain;
    text-align: center;
    top: 20vh;
    height: 75vmax;
    width: 75vmax;
    max-height: 75vh;
    margin-right: 20vw;
    z-index: 1;
}
@media (min-aspect-ratio: 3/2) {
    .Home-page-text {
        font-size: 3.75vw
    }
}
@media (min-aspect-ratio: 2/1) {
    .Home-page-text {
        font-size: 2.5vw
    }
}
@media (max-aspect-ratio: 7/9) {
    .Bg-image {
        height: 75vmin;
        width: 75vmin;
    }
}