.Project-image {
    object-fit: fill; 
    background-color: transparent;
    height: 6vmin;
    width: 6vmin;
    margin: 0px 0px 0px 0px;
    border-radius: 6%;
    z-index: 0;
}

.Project-li {
    height: 6vmin !important;
    width: 6vmin !important;
    margin: -6vmin 0px 0px 0px !important;
    border-radius: 6% !important;
    z-index: 1;
}
