.Portfolio {
    background: rgb(211, 204, 204);
    background: linear-gradient(0deg, rgba(211, 204, 204, 1) 31%, rgba(216, 245, 253,1) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 400vh;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
}

.Portfolio-cells {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 75vh;
    width: 75vw;
    top: 0px;
    bottom: 0px;
}