.Project-image {
  float: left;
  display: inline-block;
  height: 6em !important;
  width: 6em !important;
}

.Project-li {
  height: 4em !important;
  width: 4em !important;
  margin: -4.4em 0px 0px 0px !important;
  border-radius: 1% !important;
  z-index: 1;
}
