.Portfolio-cell {
    display: flex;
    flex-direction: column;
    border: 0.25vh solid darkgrey;
}

.Portfolio-cell-info {
    font-size: 1.45vmin;
    height: 12.5vh;
    width: 50%;
    margin-top: 0vh;
    position: relative;
    top: 0;
    text-align: left;
}

.Portfolio-bullet-points {
    text-align: left;
}

.Gif-date-bullet-points {
    display: flex;
    flex-direction: row;
}

.Gif-date {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 20vw;
}

.Project-image {
    object-fit: fill; 
    background-color: white;
    height: 7vmin;
    width: 7vmin;
    margin-left: 1vmin;
}

.Portfolio-page-text {
    text-align: left;
    padding-left: 1vmin;
}

.Portfolio-bullet-points {
    overflow-wrap: normal;
    margin: 0px 0px 0px 0px;
    width: 55vw;
}


@media (max-aspect-ratio: 1/1) {
    .Portfolio-cell-info {
        font-size: 1.1vmin;
    }
}