.Header {
    font-size: 4vmin;
    margin: 2vh 20vw 0px 0px;
    border-bottom: 0.4vmin solid darkgrey;
    z-index: 0;
    font-family: 'ModestoW01-Open';
}

.Page-text-1 {
    font-size: 2.15vmin;
}

.Page-text-2 {
    font-size: 2vmin;
    font-family: 'Geneva';
}

.Header-text-2 {
    font-size: 1.25vw;
    font-family: 'ModestoW01-Open';
    text-align: 'center';
}

.Header-text-3 {
    font-size: 2vmin;
    font-family: 'ModestoW01-Open';
    padding-left: 5vmin;
    margin-top: 0.5vmin;
    margin-bottom: 0.5vmin;
    text-align: left;
}

.Header-2-container {
    display: table-cell;
}

@media (max-aspect-ratio: 39/20) {
    .Page-text-2 {
        font-size: 1.6vmin;
    }
    .Header-text-3 {
        font-size: 1.6vmin;
    }
}
@media (max-aspect-ratio: 33/20) {
    .Page-text-2 {
        font-size: 1.4vmin;
    }
    .Header-text-3 {
        font-size: 1.4vmin;
    }
}

@media (max-aspect-ratio: 10/7) {
    .Page-text-2 {
        font-size: 1.1vmin;
    }
    .Header-text-3 {
        font-size: 1.1vmin;
    }
    .Page-text-1 {
      font-size: 1.6vmin;
    }
}

@media (max-aspect-ratio: 30/29) {
    .Page-text-1 {
        font-size: 1.25vmin;
    }
}
